@implements IAsyncDisposable
@inject IJSRuntime JSRuntime

<div @ref="element" class="bottom-sheet-container @Classes.Container">
    <div class="sheet-overlay @Classes.Overlay"></div>
    <div class="sheet-content @Classes.Content">
        <div class="sheet-header @Classes.Header">
            <div class="sheet-drag-icon @Classes.DragIcon"><span></span></div>
        </div>
        <div class="sheet-body @Classes.Body">
            @if(!string.IsNullOrWhiteSpace(Title))
            {
                <h2>@Title</h2>                
            }
            @BottomSheetContent            
        </div>
    </div>
</div>

@code
{
    private IJSObjectReference reference = default!;
    private ElementReference element;

    [Parameter]
    public RenderFragment? BottomSheetContent { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public BottomSheetOptions Options { get; set; } = new();

    [Parameter]
    public EventCallback OnDidDismiss { get; set; }

    [Parameter]
    public EventCallback OnDidShow { get; set; }

    [Parameter]
    public EventCallback OnWillDismiss { get; set; }

    [Parameter]
    public EventCallback OnWillShow { get; set; }

    private BottomSheetClassesOptions Classes => Options.Classes;

    public async ValueTask DisposeAsync()
    {
        if (reference != null)
        {
            await reference.DisposeAsync();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Options.Breakpoints = [25, 75];
            Options.LightDismiss = true;
            Options.Events = new BottomSheetEventsOptions
            {
                OnDidDismiss = DotNetCallbackReference.Create(() => OnDidDismiss.InvokeAsync()),
                OnDidShow = DotNetCallbackReference.Create(() => OnDidShow.InvokeAsync()),
                OnWillDismiss = DotNetCallbackReference.Create(() => OnWillDismiss.InvokeAsync()),
                OnWillShow = DotNetCallbackReference.Create(() => OnWillShow.InvokeAsync()),
            };

            var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/Blazor.Extensions.BottomSheet/BottomSheet.razor.js");
            reference = await module.InvokeAsync<IJSObjectReference>("initialize", element.Id, Options);
        }
    }

    public ValueTask ShowAsync() => reference.InvokeVoidAsync("show");

    public ValueTask HideAsync() => reference.InvokeVoidAsync("hide");

    public ValueTask UpdateOptions(BottomSheetOptions options, bool merge = true) => reference.InvokeVoidAsync("updateOptions", options, merge);
}